{% extends 'base.html' %}

{% block content %}
<section class="section-content padding-y">
  <div class="container">
    <h2 class="mb-3">Disclaimer</h2>
    <p class="text-muted">Last Updated: {{ last_updated }}</p>
    <p>Aromas by HarNoor products are handcrafted. Slight variations in color, texture, or fragrance are natural and not considered defects. We cannot guarantee perfect matching between website images and delivered items due to screen/lighting differences.</p>
  </div>
</section>
{% endblock %}

